pandas
--extra-index-url https://download.pytorch.org/whl/cpu                                                                                                                                                            
torch==2.7.1+cpu
torchvision
numpy
matplotlib
flask==2.0.0
seaborn
gunicorn
flask-cors
pyfcm
python-decouple
